$linkedinBlue: #0073b1;
$linkedinDark: #004c75;

body {
    margin: 0;
    padding: 0;
}

.login-wrapper {
    .login-wrapper-inner {
        margin-left: 200px;
    }

    .heading {
        font-family: system-ui;
        font-weight: 500;
        color: rgba(0,0,0,0.9);
    }

    .sub-heading {
        margin-top: -20px;
        font-family: system-ui;
    }
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;

    .common-input {
        height: 30px;
        padding: 10px;
        background-color: #fff;
        outline: none;
        border: 1px solid #212121;
        border-radius: 3px;
        font-family: system-ui;
        font-size: 16px;
        margin: 10px 0;
    }

    .common-input:focus {
        outline: 1px solid $linkedinBlue;
        border: none;
    }

    ::placeholder {
        font-family: system-ui;
        font-size: 16px;
    }
}

.login-btn {
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-color: $linkedinBlue;
    color: #ffffff;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 600;
    transition: 400ms;
}

.login-btn:hover {
    background-color: $linkedinDark;
}

.linkedin-logo {
    width: 80px;
}