bpody {
    margin: 0;
    padding: 0;
}

.login-wrapper {
    .login-wrapper-inner {
        margin-left: 200px;
    }

    .heading {
        font-family: system-ui;
        font-weight: 500;
        color: rgba(0,0,0,0.9);
    }

    .sub-heading {
        margin-top: -20px;
        font-family: system-ui;
    }
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;

    .common-input {
        height: 30px;
        padding: 10px;
        background-color: #fff;
        outline: none;
        border: 1px solid #212121;
        border-radius: 3px;
        font-family: system-ui;
        font-size: 16px;
    }

    .common-input:focus {
        outline: 1px solid rgb(77,77,196);
    }

    ::placeholder {
        font-family: system-ui;
        font-size: 16px;
    }
}

.login-btn {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #212121;
    color: #fff;
    margin-top: 20px;
}

.linkedin-logo {
    width: 80px;
}